.frontText {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  width: 65%;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.frontText h2 {
  text-transform: uppercase;
  font-family: 'Overpass', sans-serif;
  color: #937B7B;
  align-content: space-around;

}
