.frontpageContainer {
  flex-wrap: wrap;
  display: flex;
  margin: 0 -10px;
  justify-content: space-around;
}

.column {
  flex: 48%;
  /* flex-grow: 1; */
  flex-direction: column;
  /* border: red solid 2px; */
  align-items: flex-end;
  margin-bottom: -0.6rem;
}

.column Img {
  animation: fadeIn ease-in-out 0.5s;
  -webkit-animation: fadeIn ease-in-out 0.5s;
}

.row {
  flex-grow: 1;
  /* border: green solid 3px; */
  align-items: center;
  width: 90vw;
  align-content: center;
  padding: 4rem;
}

.row > p {
  animation: initialLoad 300ms ease-in 200ms;
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
  align-self: center;
  padding-left: 3rem;
  padding-right: 4rem;
  font-size: 120%;
  color: #937B7B;
}
span {
   background-color: #fffffe;
 }

.break {
  flex-basis: 100%;
  height: 0;
  /* border: black solid 2px; */
}


@keyframes initialLoad {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes initialLoad {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity:1}
  }

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
