@import '~pattern.css/dist/pattern.min.css';

.all {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100vh;
  background: #fffffe;
}

header {
  padding: 16
}

main {
  flex: 1 1 auto;
  padding: 16;
  flex-direction: column;
  z-index: 2;
}

footer {
  padding: 16
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1
h2
h3
{
  font-family: 'Source Serif Pro';
  color: #937B7B;
}

/* section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*   skew adds a 4.76 degree slope and the translateY equation is based on the fact that a 4.76 degree slope has a gradient of 1:12 */
  /* -webkit-transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
      -ms-transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
          transform: skew(0, -4.76deg) translateY(calc(50vw/-12)); */
  /*   And finally we account for the slope to make sure each section can occupy the full window... I added 10vw just to give it a little extra padding */
  /* min-height: calc(50vh - 200px);
  z-index: -5;
} */
/*
section h1 h2 {
  -webkit-transform: skew(0);
      -ms-transform: skew(0);
          transform: skew(0);
} */


/*
TODO:https://wweb.dev/resources/css-separator-generator wavy background */

/* .HomeFAQ-module--homeFaq .HomeFAQ-module--topWave {
  height: 167px;
  background-color: #fff;
  background-image: url(https://invitae.imgix.net/graphics/blob-eden.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
@media (min-width: 1260px)
.HomeHeroBanner-module--heroBanner .HomeHeroBanner-module--container {
    background-image: url(https://invitae.imgix.net/graphics/blob-hero-eden-large.svg);
    background-position: -250px top;
    background-repeat: no-repeat;
    background-size: cover;
}
.HomeHeroBanner-module--heroBanner .HomeHeroBanner-module--container {
    height: 100%;
    padding: 50px 0;
    position: relative;
}
*/

.waveDivider {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23F3C0C0AD' fill-opacity='0.7' d='M0,256L26.7,224C53.3,192,107,128,160,128C213.3,128,267,192,320,192C373.3,192,427,128,480,122.7C533.3,117,587,171,640,181.3C693.3,192,747,160,800,160C853.3,160,907,192,960,176C1013.3,160,1067,96,1120,106.7C1173.3,117,1227,203,1280,218.7C1333.3,235,1387,181,1413,154.7L1440,128L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: calc(100% + 1.3px);
}

.container {
  position: relative;
  background: #2c3e50;
  height: 50vh;
  z-index: -100;
}

.wave {
  position: absolute;
  height: 70px;
  width: 100%;
  background: #2c3e50;
  bottom: 0;
  z-index: -50;
}

.wave::before, .wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50% 100%;
}

.wave::before {
  width: 55%;
  height: 100%;
  background-color: #2c3e50;
  right: -1.5%;
  top: 40%;
}
.wave::after {
  width: 55%;
  height: 109%;
  background-color: #fff;
  left: -1.5%;
  top: 60%;
}
