@import '~pattern.css/dist/pattern.min.css';

.all {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100vh;
  background: #fdfcdc;
}

header {
  padding: 16
}

main {
  flex: 1 1 auto;
  padding: 16;
  flex-direction: column;
}

footer {
  padding: 16
}
