.projectCardContainer{
  background-color: transparent;
  width: calc(100%-3px);
  height: 250px;
  perspective: 1000px;
  position: relative;

}
/* @media (min-width: 768px) {
    max-width: none;
    width: calc(50% - 50px);
    margin: 0 25px 33px;
} */

.projectCardContainer > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.projectCardContainer Img {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  backface-visibility: hidden;
}

.projectCardContainer .overlay {
  background: rgba(0, 0, 0, 0.829);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.projectCardContainer:hover .overlay{
  opacity: 2;
}

.text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: calc(100%-1px);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -webkit-transition: opacity 300ms ease;

}

.projectCardContainer:hover .text, .projectCardContainer:focus-within .text{
  opacity: 1;
}
