.socialIcons{
  display: inline-block;
  position: absolute;
  top: 5vh;
  right: 5vw;
}

.socialIcons a{
  color: black;
  margin: 0.5rem;
}

.socialIcons a:hover {
  color: lightgray;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
