.socialIcons{
  display: inline-block;
  position: fixed;
  top: 50vh;
  right: 5vw;
  border-left: 2px solid rgb(190, 196, 190);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.socialIcons a {
  display: block;
  transition: all 0.3s ease;
  color: black;
  margin: 0.5rem;
}

.socialIcons a:hover {
  color: lightgray;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
